<a href="https://colab.research.google.com/github/abidshafee/DataScienceYouTubeTutorials/blob/master/breastCancer_ClassificationModel(KerasSequential).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Loading Libraries

In [3]:
import numpy as np
import pandas as pd
import pandas.util.testing as tm
# for data splitting
from sklearn.model_selection import train_test_split
# keras api
from keras.models import Sequential
from keras.layers import Dense
from keras.utils.vis_utils import plot_model

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  This is separate from the ipykernel package so we can avoid doing imports until

Import the data

In [5]:
from google.colab import files
file = files.upload()

KeyboardInterrupt: ignored

Load the data into pandas dataframe

In [6]:
df = pd.read_csv('BreastCancer_data.csv')

In [7]:
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
df.shape

(569, 33)

### Cleaning Data

In [ ]:
df.isna().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

Check the null column

In [ ]:
df[df['Unnamed: 32'].isnull()]

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

Drop the null column

In [14]:
df.dropna(axis=1, inplace=True)

In [15]:
df.head()

         id  diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302          1  ...          0.4601                  0.11890
1    842517          1  ...          0.2750                  0.08902
2  84300903          1  ...          0.3613                  0.08758
3  84348301          1  ...          0.6638                  0.17300
4  84358402          1  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [16]:
df.shape

(569, 32)

Converting the categorical diagnosis column to numerical values
because this is our target variable

In [17]:
df['diagnosis'] = np.where(df['diagnosis']=='M', 1, 0)

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [18]:
df

           id  diagnosis  ...  symmetry_worst  fractal_dimension_worst
0      842302          0  ...          0.4601                  0.11890
1      842517          0  ...          0.2750                  0.08902
2    84300903          0  ...          0.3613                  0.08758
3    84348301          0  ...          0.6638                  0.17300
4    84358402          0  ...          0.2364                  0.07678
..        ...        ...  ...             ...                      ...
564    926424          0  ...          0.2060                  0.07115
565    926682          0  ...          0.2572                  0.06637
566    926954          0  ...          0.2218                  0.07820
567    927241          0  ...          0.4087                  0.12400
568     92751          0  ...          0.2871                  0.07039

[569 rows x 32 columns]

Defining input variables X

In [19]:
X = df.iloc[:,2:]

In [20]:
X.shape

(569, 30)

Defining the target variable Y

In [21]:
Y = df.iloc[:, 1:2]

In [22]:
Y.shape

(569, 1)

Spliting data into train and test dataset

In [23]:
 X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=30)

Difining ann Sequencial model for tumar classification

In [ ]:
Classification_Model = Sequential()

In [ ]:
Classification_Model.add(Dense(units= 16, activation = 'relu', input_dim=30)) 
# units indicates here the ooutput dimention of Dense layer
Classification_Model.add(Dense(units=8, activation='relu'))
Classification_Model.add(Dense(units=6, activation='relu'))
Classification_Model.add(Dense(units=1, activation='sigmoid'))

In [ ]:
Classification_Model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
print(Classification_Model.summary())

In [ ]:
plot_model(Classification_Model, to_file='model_plot.png', show_shapes=True, show_layer_names=True)

Train the Model with X_train, y_train dataset

In [ ]:
Classification_Model.fit(X_train, y_train, batch_size=10, epochs=100)

Lets quickly check our testing dataset

In [ ]:
X_test

### Now let's predict the target variable on test data Using our Sequential Model

In [ ]:
prediction = Classification_Model.predict(X_test)
prediction = [1 if y>0.5 else 0 for y in prediction] #list
prediction

In [ ]:
len(prediction)

In [ ]:
type(prediction)

In [ ]:
type(y_test)

COnverting Prediction list to pandas dataframe

In [ ]:
pred = pd.DataFrame(prediction)

In [ ]:
type(pred)

### Now converting both pred dataframe and y_test dataframe to numpy ndarray to calculate prediction Accuracy

In [ ]:
pred = pred.values

In [ ]:
y_test_ndarray = y_test.values

### Prediction Accurecy

In [ ]:
total = 0
correct = 0
wrong =0

for i in range(len(pred)):
    total = total+1
    if(y_test_ndarray[i]== pred[i]):
      correct = correct+1
    else:
       wrong = wrong+1
print('Total = ' + str(total))
print('Correct = ' + str(correct) + ' - Parcentage correct: ' + str(round((correct/total)*100, 2))+'%')
print('Wrong = ' + str(wrong) + ' Parcentage wrong: ' + str(round((wrong/total)*100, 2)) + '%')

### Testing the model for individual input data

In [ ]:
len(X_test)

In [ ]:
input1 = X_test.iloc[[10]]
input1

This individual iput has 30 attributes and 1 row

In [ ]:
input1.shape

Predict individual input data

In [ ]:
prediction1 = Classification_Model.predict(input1)
prediction1

In [ ]:
prediction1 = ['1' if prediction1>0.5 else '0' for y in prediction1]
prediction1

### Manually checking Prediction Accuracy

In [ ]:
df.loc[(df['area_mean']==493.8) & (df['concavity_mean']==0.0388)]

As We can See that our Model predict the individual input accurately.