<a href="https://colab.research.google.com/github/abidshafee/DataScienceYouTubeTutorials/blob/master/ConvertingCategoricalvariables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import pandas.util.testing as tm

### Importing Data file

In [ ]:
from google.colab import files
file = files.upload()

In [ ]:
df = pd.read_csv('BreastCancer_data.csv')

### Quickly Checking the data

In [ ]:
df.head(3)

In [ ]:
df.dtypes

### Data Cleaning

In [ ]:
df.isna().sum()

In [ ]:
df.shape

let see the **dataframe** where Unnamed: 32 column is empty.

In [ ]:
df[df['Unnamed: 32'].isnull()]

In [ ]:
df['Unnamed: 32'].isnull()

### Drop the empty Unnamed: 32 Column

In [ ]:
df = df.dropna(axis=1)

### Check the Unique Values in categorical diagnosis column

In [ ]:
df['diagnosis'].unique()

### Count the number of values for each unique category

In [ ]:
df['diagnosis'].value_counts()

In [ ]:
sns.countplot(df['diagnosis'])
sns.set(style="darkgrid")

### Now converting categorical Variables in diagonosis column to numerical values using LabelEncoder utility class of scikit learn library. This will replace the original column in the dataframe.

In [ ]:
encodedOutput_Y = LabelEncoder()
df['diagnosis'] = encodedOutput_Y.fit_transform(df.iloc[:,1].values)

In [ ]:
df.head()

## Loading the dataframe again

In [ ]:
df = pd.read_csv('BreastCancer_data.csv')

In [ ]:
df.shape

### Converting Categorical data to numerical values using numpy where() method

In [ ]:
%timeit
df['dignosis_new_col'] = np.where(df['diagnosis']=='M', 0, 1)

# df['dignosis'] = np.where(df['diagnosis'].str.contains('M'),1,0)
%timeit

Droping Column

In [ ]:
df.head(2)

In [ ]:
df.drop('dignosis_new_col',
  axis='columns', inplace=True)