<a href="https://colab.research.google.com/github/abidshafee/DataScienceYouTubeTutorials/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading Libraries

In [1]:
import pandas as pd
import numpy as np

## Importing Data

In [2]:
from google.colab import files 
file = files.upload()

Saving Weather.csv to Weather.csv

### Loading the data into pandas dataframe

In [4]:
df = pd.read_csv('Weather.csv')

In [4]:
df

        code          province  ... most_wind_direction  avg_relative_humidity
0      10000             Seoul  ...                90.0                   73.0
1      11000             Busan  ...               340.0                   52.1
2      12000             Daegu  ...               270.0                   70.5
3      13000           Gwangju  ...               230.0                   73.1
4      14000           Incheon  ...               180.0                   83.9
...      ...               ...  ...                 ...                    ...
26266  50000      Jeollabuk-do  ...                90.0                   85.1
26267  51000      Jeollanam-do  ...                90.0                   97.9
26268  60000  Gyeongsangbuk-do  ...               160.0                   90.9
26269  61000  Gyeongsangnam-do  ...               160.0                   85.0
26270  70000           Jeju-do  ...               270.0                   87.4

[26271 rows x 10 columns]

### Checking for Empty or Missing values

In [5]:
df.isna().sum()

code                      0
province                  0
date                      0
avg_temp                 15
min_temp                  5
max_temp                  3
precipitation             0
max_wind_speed            9
most_wind_direction      29
avg_relative_humidity    20
dtype: int64

### Here we have total 6 columns that has missing values -
 - **avg_temp** column has 15 missing values
 - **min_temp** column has 5 empty cell
 - **max_temp** has 3 empty values
 - **max_wind_speed** has 9 null entry
 - **most_wind_direction**  has 29 missing values
 - **avg_relative_humidity** column has 20 missing values.

### Checking the dataframe where we have these missing values

---

In [6]:
df[df['avg_temp'].isnull()]

        code           province  ... most_wind_direction  avg_relative_humidity
5693   60000   Gyeongsangbuk-do  ...                 NaN                    NaN
6861   60000   Gyeongsangbuk-do  ...                50.0                   47.3
9197   60000   Gyeongsangbuk-do  ...                 NaN                    NaN
9202   12000              Daegu  ...               140.0                   91.3
11482  41000  Chungcheongnam-do  ...               250.0                    NaN
11642  41000  Chungcheongnam-do  ...                 NaN                    NaN
11737  41000  Chungcheongnam-do  ...                 NaN                    NaN
13736  40000  Chungcheongbuk-do  ...                90.0                    NaN
14969  41000  Chungcheongnam-do  ...                 NaN                    NaN
18697  41000  Chungcheongnam-do  ...                 NaN                    NaN
19961  41000  Chungcheongnam-do  ...                 NaN                    NaN
20825  41000  Chungcheongnam-do  ...                 NaN                    NaN
20953  41000  Chungcheongnam-do  ...                 NaN                    NaN
21788  60000   Gyeongsangbuk-do  ...                 NaN                    NaN
21804  60000   Gyeongsangbuk-do  ...                 NaN                    NaN

[15 rows x 10 columns]

Average Value of avg_temp	column. We can use this avg value to replace the nan values using dataframe fillna() method.

In [ ]:
avg = round(df['avg_temp'].mean(),2)
avg

13.86

For accepting two values after decimal point we applied the round method.

#### Cheking **avg_temp** data type

In [8]:
df['avg_temp'].dtypes

dtype('float64')

### Type casting
As we can see *avg_temp* column is already in float type. But if it is the case that data type of that column is not float or integer, Then we must convert the data type into float or integer using pandas astype() method

In [16]:
df['avg_temp'] = df['avg_temp'].astype(str)

Checking the data type of avg_temp again

In [18]:
df['avg_temp'].dtypes
# type(df.avg_temp)

dtype('O')

In [20]:
df.dtypes

code                       int64
province                  object
date                      object
avg_temp                  object
min_temp                 float64
max_temp                 float64
precipitation            float64
max_wind_speed           float64
most_wind_direction      float64
avg_relative_humidity    float64
dtype: object

#### types other than float or integer this types of operation is not allowed

In [23]:
df['avg_temp'].mean()

TypeError: ignored

### Replacing NaN values in **avg_temp** column with Avg values
For replacing any specific value in a colum, we can use the *replace('value_we_want_to_replace', 'value_with')* method.

In [ ]:
df['avg_temp'].fillna(avg, inplace=True)

Checking avg_temp	Column where we replace nan with avg values.

In [ ]:
df.loc[(df['avg_temp']==avg)]

        code           province  ... most_wind_direction  avg_relative_humidity
5693   60000   Gyeongsangbuk-do  ...                 NaN                    NaN
6861   60000   Gyeongsangbuk-do  ...                50.0                   47.3
9197   60000   Gyeongsangbuk-do  ...                 NaN                    NaN
9202   12000              Daegu  ...               140.0                   91.3
11482  41000  Chungcheongnam-do  ...               250.0                    NaN
11642  41000  Chungcheongnam-do  ...                 NaN                    NaN
11737  41000  Chungcheongnam-do  ...                 NaN                    NaN
13736  40000  Chungcheongbuk-do  ...                90.0                    NaN
14969  41000  Chungcheongnam-do  ...                 NaN                    NaN
18697  41000  Chungcheongnam-do  ...                 NaN                    NaN
19961  41000  Chungcheongnam-do  ...                 NaN                    NaN
20825  41000  Chungcheongnam-do  ...                 NaN                    NaN
20953  41000  Chungcheongnam-do  ...                 NaN                    NaN
21788  60000   Gyeongsangbuk-do  ...                 NaN                    NaN
21804  60000   Gyeongsangbuk-do  ...                 NaN                    NaN

[15 rows x 10 columns]

Checking if the NaN values are really replaced

In [21]:
df['avg_temp'].isna().sum()

0

In [22]:
df['avg_temp'].median()

14.6

NaN value by default is a float type object

In [ ]:
type(np.nan)

float

In [ ]:
df.dtypes

code                       int64
province                  object
date                      object
avg_temp                 float64
min_temp                 float64
max_temp                 float64
precipitation            float64
max_wind_speed           float64
most_wind_direction      float64
avg_relative_humidity    float64
dtype: object

### Clecking Unique values in a column

In [ ]:
# df['avg_temp'].unique()
df['province'].unique()

array(['Seoul', 'Busan', 'Daegu', 'Gwangju', 'Incheon', 'Daejeon',
       'Ulsan', 'Gyeonggi-do', 'Gangwon-do', 'Chungcheongbuk-do',
       'Chungcheongnam-do', 'Jeollabuk-do', 'Jeollanam-do',
       'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do',
       'Chunghceongbuk-do'], dtype=object)

### Counting the Unique values

In [24]:
df['province'].value_counts()

Gyeonggi-do          1642
Gangwon-do           1642
Seoul                1642
Ulsan                1642
Daejeon              1642
Incheon              1642
Busan                1642
Jeju-do              1642
Jeollabuk-do         1642
Gwangju              1642
Jeollanam-do         1642
Gyeongsangnam-do     1642
Daegu                1642
Gyeongsangbuk-do     1642
Chungcheongnam-do    1641
Chungcheongbuk-do    1613
Chunghceongbuk-do      29
Name: province, dtype: int64

As we can see here a province name has been misspelled. So we want to replace the misspelled value with the correct one. we will replace -
**Chunghceongbuk-do**, with  **Chungcheongbuk-do**

### Replacing a Value

In [ ]:
df['province'].replace('Chunghceongbuk-do', 'Chungcheongbuk-do', inplace=True)

In [ ]:
df['province'].value_counts()

### Duplicaed Values

In [5]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
26266    False
26267    False
26268    False
26269    False
26270    False
Length: 26271, dtype: bool

#### Let's insert a duplicate row

In [6]:
len(df)

26271

In [7]:
df.tail()

        code          province  ... most_wind_direction  avg_relative_humidity
26266  50000      Jeollabuk-do  ...                90.0                   85.1
26267  51000      Jeollanam-do  ...                90.0                   97.9
26268  60000  Gyeongsangbuk-do  ...               160.0                   90.9
26269  61000  Gyeongsangnam-do  ...               160.0                   85.0
26270  70000           Jeju-do  ...               270.0                   87.4

[5 rows x 10 columns]

In [9]:
df.loc[26271] = [70000, 	'Jeju-do', '2020-06-29', 23.2, 19.1, 27.6, 25.1, 12.8, 270.0, 87.4]

In [10]:
df.tail()

        code          province  ... most_wind_direction  avg_relative_humidity
26267  51000      Jeollanam-do  ...                90.0                   97.9
26268  60000  Gyeongsangbuk-do  ...               160.0                   90.9
26269  61000  Gyeongsangnam-do  ...               160.0                   85.0
26270  70000           Jeju-do  ...               270.0                   87.4
26271  70000           Jeju-do  ...               270.0                   87.4

[5 rows x 10 columns]

In [11]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
26267    False
26268    False
26269    False
26270    False
26271     True
Length: 26272, dtype: bool

In [12]:
df.drop_duplicates()

        code          province  ... most_wind_direction  avg_relative_humidity
0      10000             Seoul  ...                90.0                   73.0
1      11000             Busan  ...               340.0                   52.1
2      12000             Daegu  ...               270.0                   70.5
3      13000           Gwangju  ...               230.0                   73.1
4      14000           Incheon  ...               180.0                   83.9
...      ...               ...  ...                 ...                    ...
26266  50000      Jeollabuk-do  ...                90.0                   85.1
26267  51000      Jeollanam-do  ...                90.0                   97.9
26268  60000  Gyeongsangbuk-do  ...               160.0                   90.9
26269  61000  Gyeongsangnam-do  ...               160.0                   85.0
26270  70000           Jeju-do  ...               270.0                   87.4

[26271 rows x 10 columns]

Drop row id duplicate value exist in specific columns

In [13]:
df.loc[26271] = [700001, 	'Jeju-do-do', '2020-06-29', 23.2, 19.1, 27.6, 25.1, 12.8, 270.0, 87.4]

In [14]:
df.drop_duplicates(['code	', 'province'])

KeyError: ignored

In [15]:
df.tail()

         code          province  ... most_wind_direction  avg_relative_humidity
26267   51000      Jeollanam-do  ...                90.0                   97.9
26268   60000  Gyeongsangbuk-do  ...               160.0                   90.9
26269   61000  Gyeongsangnam-do  ...               160.0                   85.0
26270   70000           Jeju-do  ...               270.0                   87.4
26271  700001        Jeju-do-do  ...               270.0                   87.4

[5 rows x 10 columns]