<a href="https://colab.research.google.com/github/abidshafee/DataScienceYouTubeTutorials/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading Libraries

In [ ]:
import pandas as pd
import numpy as np

## Importing Data

In [ ]:
from google.colab import files 
file = files.upload()

Saving Weather.csv to Weather.csv

### Loading the data into pandas dataframe

In [ ]:
df = pd.read_csv('Weather.csv')

In [ ]:
df.head()

    code province  ... most_wind_direction  avg_relative_humidity
0  10000    Seoul  ...                90.0                   73.0
1  11000    Busan  ...               340.0                   52.1
2  12000    Daegu  ...               270.0                   70.5
3  13000  Gwangju  ...               230.0                   73.1
4  14000  Incheon  ...               180.0                   83.9

[5 rows x 10 columns]

# Handling Missing Values

In [ ]:
df.isna().any()

code                     False
province                 False
date                     False
avg_temp                  True
min_temp                  True
max_temp                  True
precipitation            False
max_wind_speed            True
most_wind_direction       True
avg_relative_humidity     True
dtype: bool

In [ ]:
df.isna().any().sum()

6

There are Six Columns in this dataset that contain null values

In [ ]:
df.isna().sum()

code                      0
province                  0
date                      0
avg_temp                 15
min_temp                  5
max_temp                  3
precipitation             0
max_wind_speed            9
most_wind_direction      29
avg_relative_humidity    20
dtype: int64

### Here we have total 6 columns that has missing values -
 - **avg_temp** column has 15 missing values
 - **min_temp** column has 5 empty cell
 - **max_temp** has 3 empty values
 - **max_wind_speed** has 9 null entry
 - **most_wind_direction**  has 29 missing values
 - **avg_relative_humidity** column has 20 missing values.

### Dropping Null Values

In [ ]:
df.dropna(axis='index', how='all', inplace=True)

In [ ]:
df.isna().sum()

code                      0
province                  0
date                      0
avg_temp                 15
min_temp                  5
max_temp                  3
precipitation             0
max_wind_speed            9
most_wind_direction      29
avg_relative_humidity    20
dtype: int64

In [ ]:
df.dropna(axis='index', how='any', inplace=True)

In [ ]:
df.isna().sum()

code                     0
province                 0
date                     0
avg_temp                 0
min_temp                 0
max_temp                 0
precipitation            0
max_wind_speed           0
most_wind_direction      0
avg_relative_humidity    0
dtype: int64

In [ ]:
len(df)

26224

### Checking the dataframe where we have these missing values

---

In [ ]:
# df.isna().any()

In [ ]:
empty_avg_temp_df = df[df['avg_temp'].isnull()]

In [ ]:
len(empty_avg_temp_df)

0

### Dropna Subset Argument

In [ ]:
empty_avg_temp_df.dropna(axis=0, how='any', subset=['avg_temp', 'most_wind_direction'], inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

For accepting two values after decimal point we applied the round method.

## Using fillna() replacing NaN values in **avg_temp** column with Avg values
For replacing any specific value in a colum, we can use the *replace('value_we_want_to_replace', 'value_with')* method.

#### Cheking **avg_temp** data type

In [ ]:
df['avg_temp'].dtypes

dtype('float64')

Average Value of avg_temp	column. We can use this avg value to replace the nan values using dataframe fillna() method.

In [ ]:
avg = round(df['avg_temp'].mean(),2)
avg

13.86

In [ ]:
df['avg_temp'].fillna(avg, inplace=True)

Checking avg_temp	Column where we replace nan with avg values.

In [ ]:
df.loc[(df['avg_temp']==avg)]

        code           province  ... most_wind_direction  avg_relative_humidity
5693   60000   Gyeongsangbuk-do  ...                 NaN                    NaN
6861   60000   Gyeongsangbuk-do  ...                50.0                   47.3
9197   60000   Gyeongsangbuk-do  ...                 NaN                    NaN
9202   12000              Daegu  ...               140.0                   91.3
11482  41000  Chungcheongnam-do  ...               250.0                    NaN
11642  41000  Chungcheongnam-do  ...                 NaN                    NaN
11737  41000  Chungcheongnam-do  ...                 NaN                    NaN
13736  40000  Chungcheongbuk-do  ...                90.0                    NaN
14969  41000  Chungcheongnam-do  ...                 NaN                    NaN
18697  41000  Chungcheongnam-do  ...                 NaN                    NaN
19961  41000  Chungcheongnam-do  ...                 NaN                    NaN
20825  41000  Chungcheongnam-do  ...                 NaN                    NaN
20953  41000  Chungcheongnam-do  ...                 NaN                    NaN
21788  60000   Gyeongsangbuk-do  ...                 NaN                    NaN
21804  60000   Gyeongsangbuk-do  ...                 NaN                    NaN

[15 rows x 10 columns]

Checking if the NaN values are really replaced

In [ ]:
# df['avg_temp'].isna().sum()

In [ ]:
df['avg_temp'].median()

14.6

NaN value by default is a float type object

In [ ]:
type(np.nan)

float

In [ ]:
df.dtypes

code                       int64
province                  object
date                      object
avg_temp                 float64
min_temp                 float64
max_temp                 float64
precipitation            float64
max_wind_speed           float64
most_wind_direction      float64
avg_relative_humidity    float64
dtype: object

## Typecasting [astype() Method]

The as-type method provides a way to convert any column type to a specific data type. It is especially helpful when performing any mathematical operation on that column. Suppose here we want to calculate the average of the avg_temp column, but the column is not an integer or float type. So in that case, the as-type method helps to convert the column in the desired data type.

In [ ]:
df['avg_temp'] = df['avg_temp'].astype(str)

Checking the data type of avg_temp again

In [ ]:
df['avg_temp'].dtypes
# type(df.avg_temp)

dtype('O')

In [ ]:
df.dtypes

code                       int64
province                  object
date                      object
avg_temp                  object
min_temp                 float64
max_temp                 float64
precipitation            float64
max_wind_speed           float64
most_wind_direction      float64
avg_relative_humidity    float64
dtype: object

#### types other than float or integer this types of operation is not allowed

In [ ]:
df['avg_temp'].mean()

### Converting Object to float type

In [ ]:
df['avg_temp'] = df['avg_temp'].astype(float)

now can count mean easily

In [ ]:
df['avg_temp'].mean()

13.859422608165788

______________________________________________________________________
# Replacing Values | Imputation
Imputation is a term that denotes a procedure that replaces the missing values in a
data set by some plausible values

## Clecking Unique values in a column

In [ ]:
# df['avg_temp'].unique()
df['province'].unique().tolist()

['Seoul',
 'Busan',
 'Daegu',
 'Gwangju',
 'Incheon',
 'Daejeon',
 'Ulsan',
 'Gyeonggi-do',
 'Gangwon-do',
 'Chungcheongbuk-do',
 'Chungcheongnam-do',
 'Jeollabuk-do',
 'Jeollanam-do',
 'Gyeongsangbuk-do',
 'Gyeongsangnam-do',
 'Jeju-do',
 'Chunghceongbuk-do']

### Counting the Unique values

In [ ]:
df['province'].value_counts()

Busan                1642
Gangwon-do           1642
Gyeongsangnam-do     1642
Seoul                1642
Daejeon              1642
Gwangju              1642
Gyeonggi-do          1642
Jeju-do              1642
Daegu                1642
Jeollanam-do         1642
Gyeongsangbuk-do     1642
Ulsan                1642
Incheon              1642
Jeollabuk-do         1642
Chungcheongnam-do    1641
Chungcheongbuk-do    1613
Chunghceongbuk-do      29
Name: province, dtype: int64

As we can see here a province name has been misspelled. So we want to replace the misspelled value with the correct one. we will replace -
**Chunghceongbuk-do**, with  **Chungcheongbuk-do**

### Replacing a Value

In [ ]:
df['province'].replace('Chunghceongbuk-do', 'Chungcheongbuk-do', inplace=True)

In [ ]:
df['province'].value_counts()

Gangwon-do           1642
Jeollabuk-do         1642
Incheon              1642
Ulsan                1642
Gyeongsangbuk-do     1642
Jeollanam-do         1642
Chungcheongbuk-do    1642
Busan                1642
Jeju-do              1642
Gyeonggi-do          1642
Gwangju              1642
Daejeon              1642
Seoul                1642
Gyeongsangnam-do     1642
Daegu                1642
Chungcheongnam-do    1641
Name: province, dtype: int64

# Removing Duplicaed Values

In [ ]:
df.duplicated().any()

False

#### Let's insert a duplicate row

In [ ]:
len(df)

25572

In [ ]:
df.tail()

        code           province  ... most_wind_direction  avg_relative_humidity
26265  41000  Chungcheongnam-do  ...                50.0                   88.3
26266  50000       Jeollabuk-do  ...                90.0                   85.1
26267  51000       Jeollanam-do  ...                90.0                   97.9
26269  61000   Gyeongsangnam-do  ...               160.0                   85.0
26270  70000            Jeju-do  ...               270.0                   87.4

[5 rows x 10 columns]

In [ ]:
df.loc[26272] = [70000, 	'Jeju-do', '2020-06-29', 23.2, 19.1, 27.6, 25.1, 12.8, 270.0, 87.4]

In [ ]:
df.tail()

        code          province  ... most_wind_direction  avg_relative_humidity
26266  50000      Jeollabuk-do  ...                90.0                   85.1
26267  51000      Jeollanam-do  ...                90.0                   97.9
26269  61000  Gyeongsangnam-do  ...               160.0                   85.0
26270  70000           Jeju-do  ...               270.0                   87.4
26272  70000           Jeju-do  ...               270.0                   87.4

[5 rows x 10 columns]

In [ ]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
26266    False
26267    False
26269    False
26270    False
26272     True
Length: 25573, dtype: bool

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.tail()

        code           province  ... most_wind_direction  avg_relative_humidity
26265  41000  Chungcheongnam-do  ...                50.0                   88.3
26266  50000       Jeollabuk-do  ...                90.0                   85.1
26267  51000       Jeollanam-do  ...                90.0                   97.9
26269  61000   Gyeongsangnam-do  ...               160.0                   85.0
26270  70000            Jeju-do  ...               270.0                   87.4

[5 rows x 10 columns]

Drop row if duplicates exist in specific columns

In [ ]:
df.loc[26271] = [700001, 	'Jeju-do-do', '2020-06-29', 23.2, 19.1, 27.6, 25.1, 12.8, 270.0, 87.4]

In [ ]:
df.tail()

         code          province  ... most_wind_direction  avg_relative_humidity
26266   50000      Jeollabuk-do  ...                90.0                   85.1
26267   51000      Jeollanam-do  ...                90.0                   97.9
26269   61000  Gyeongsangnam-do  ...               160.0                   85.0
26270   70000           Jeju-do  ...               270.0                   87.4
26271  700001        Jeju-do-do  ...               270.0                   87.4

[5 rows x 10 columns]

In [ ]:
df.drop_duplicates(['code	', 'province'], inplace=True)

KeyError: ignored

drop_duplicates() doesn't drop any duplicate row, because it didn't found any duplicate value in specific columns

In [ ]:
df.drop_duplicates(['date', 'avg_relative_humidity'], inplace=True)

drop row as it found duplicate in speificified col

In [ ]:
df.tail()

        code           province  ... most_wind_direction  avg_relative_humidity
26265  41000  Chungcheongnam-do  ...                50.0                   88.3
26266  50000       Jeollabuk-do  ...                90.0                   85.1
26267  51000       Jeollanam-do  ...                90.0                   97.9
26269  61000   Gyeongsangnam-do  ...               160.0                   85.0
26270  70000            Jeju-do  ...               270.0                   87.4

[5 rows x 10 columns]

In [ ]:
df.duplicated().any()

False