<a href="https://colab.research.google.com/github/abidshafee/DataScienceYouTubeTutorials/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading Libraries

In [1]:
import pandas as pd

## Importing Data

In [3]:
from google.colab import files 
file = files.upload()

Saving Weather.csv to Weather.csv

### Loading the data into pandas dataframe

In [4]:
df = pd.read_csv('Weather.csv')

In [5]:
df

        code          province  ... most_wind_direction  avg_relative_humidity
0      10000             Seoul  ...                90.0                   73.0
1      11000             Busan  ...               340.0                   52.1
2      12000             Daegu  ...               270.0                   70.5
3      13000           Gwangju  ...               230.0                   73.1
4      14000           Incheon  ...               180.0                   83.9
...      ...               ...  ...                 ...                    ...
26266  50000      Jeollabuk-do  ...                90.0                   85.1
26267  51000      Jeollanam-do  ...                90.0                   97.9
26268  60000  Gyeongsangbuk-do  ...               160.0                   90.9
26269  61000  Gyeongsangnam-do  ...               160.0                   85.0
26270  70000           Jeju-do  ...               270.0                   87.4

[26271 rows x 10 columns]

### Checking for Empty or Missing values

In [8]:
df.isna().sum()

code                      0
province                  0
date                      0
avg_temp                 15
min_temp                  5
max_temp                  3
precipitation             0
max_wind_speed            9
most_wind_direction      29
avg_relative_humidity    20
dtype: int64

### Here we have total 6 columns that has missing values -
 - **avg_temp** column has 15 missing values
 - **min_temp** column has 5 empty cell
 - **max_temp** has 3 empty values
 - **max_wind_speed** has 9 null entry
 - **most_wind_direction**  has 29 missing values
 - **avg_relative_humidity** column has 20 missing values.

### Checking the dataframe where we have these missing values

---

In [19]:
df[df['avg_temp'].isnull()]

        code           province  ... most_wind_direction  avg_relative_humidity
5693   60000   Gyeongsangbuk-do  ...                 NaN                    NaN
6861   60000   Gyeongsangbuk-do  ...                50.0                   47.3
9197   60000   Gyeongsangbuk-do  ...                 NaN                    NaN
9202   12000              Daegu  ...               140.0                   91.3
11482  41000  Chungcheongnam-do  ...               250.0                    NaN
11642  41000  Chungcheongnam-do  ...                 NaN                    NaN
11737  41000  Chungcheongnam-do  ...                 NaN                    NaN
13736  40000  Chungcheongbuk-do  ...                90.0                    NaN
14969  41000  Chungcheongnam-do  ...                 NaN                    NaN
18697  41000  Chungcheongnam-do  ...                 NaN                    NaN
19961  41000  Chungcheongnam-do  ...                 NaN                    NaN
20825  41000  Chungcheongnam-do  ...                 NaN                    NaN
20953  41000  Chungcheongnam-do  ...                 NaN                    NaN
21788  60000   Gyeongsangbuk-do  ...                 NaN                    NaN
21804  60000   Gyeongsangbuk-do  ...                 NaN                    NaN

[15 rows x 10 columns]