<a href="https://colab.research.google.com/github/abidshafee/DataScienceYouTubeTutorials/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading Libraries

In [61]:
import pandas as pd
import numpy as np

## Importing Data

In [62]:
from google.colab import files 
file = files.upload()

### Loading the data into pandas dataframe

In [70]:
df = pd.read_csv('Weather.csv')

In [64]:
df

        code          province  ... most_wind_direction  avg_relative_humidity
0      10000             Seoul  ...                90.0                   73.0
1      11000             Busan  ...               340.0                   52.1
2      12000             Daegu  ...               270.0                   70.5
3      13000           Gwangju  ...               230.0                   73.1
4      14000           Incheon  ...               180.0                   83.9
...      ...               ...  ...                 ...                    ...
26266  50000      Jeollabuk-do  ...                90.0                   85.1
26267  51000      Jeollanam-do  ...                90.0                   97.9
26268  60000  Gyeongsangbuk-do  ...               160.0                   90.9
26269  61000  Gyeongsangnam-do  ...               160.0                   85.0
26270  70000           Jeju-do  ...               270.0                   87.4

[26271 rows x 10 columns]

# Handling Missing Values

In [65]:
df.isna().sum()

code                      0
province                  0
date                      0
avg_temp                 15
min_temp                  5
max_temp                  3
precipitation             0
max_wind_speed            9
most_wind_direction      29
avg_relative_humidity    20
dtype: int64

### Here we have total 6 columns that has missing values -
 - **avg_temp** column has 15 missing values
 - **min_temp** column has 5 empty cell
 - **max_temp** has 3 empty values
 - **max_wind_speed** has 9 null entry
 - **most_wind_direction**  has 29 missing values
 - **avg_relative_humidity** column has 20 missing values.

### Dropping Null Values

In [71]:
df.dropna(axis='index', how='all', inplace=True)

In [72]:
df.isna().sum()

code                      0
province                  0
date                      0
avg_temp                 15
min_temp                  5
max_temp                  3
precipitation             0
max_wind_speed            9
most_wind_direction      29
avg_relative_humidity    20
dtype: int64

In [73]:
df.dropna(axis='index', how='any', inplace=True)

In [74]:
df.isna().sum()

code                     0
province                 0
date                     0
avg_temp                 0
min_temp                 0
max_temp                 0
precipitation            0
max_wind_speed           0
most_wind_direction      0
avg_relative_humidity    0
dtype: int64

### Checking the dataframe where we have these missing values

---

In [ ]:
# df.isna().any()

In [ ]:
empty_avg_temp_df = df[df['avg_temp'].isnull()]

In [ ]:
empty_avg_temp_df

### Dropna Subset Argument

In [ ]:
empty_avg_temp_df.dropna(axis=0, how='any', subset=['avg_temp', 'avg_relative_humidity'], inplace=True)

Average Value of avg_temp	column. We can use this avg value to replace the nan values using dataframe fillna() method.

In [ ]:
avg = round(df['avg_temp'].mean(),2)
avg

For accepting two values after decimal point we applied the round method.

#### Cheking **avg_temp** data type

In [ ]:
df['avg_temp'].dtypes

## Using fillna() replacing NaN values in **avg_temp** column with Avg values
For replacing any specific value in a colum, we can use the *replace('value_we_want_to_replace', 'value_with')* method.

In [ ]:
df['avg_temp'].fillna(avg, inplace=True)

Checking avg_temp	Column where we replace nan with avg values.

In [ ]:
df.loc[(df['avg_temp']==avg)]

Checking if the NaN values are really replaced

In [ ]:
# df['avg_temp'].isna().sum()

In [ ]:
df['avg_temp'].median()

NaN value by default is a float type object

In [ ]:
type(np.nan)

In [ ]:
df.dtypes

## Type casting [astype() Method]
As we can see *avg_temp* column is already in float type. But if it is the case that data type of that column is not float or integer, Then we must convert the data type into float or integer using pandas astype() method

In [ ]:
df['avg_temp'] = df['avg_temp'].astype(str)

Checking the data type of avg_temp again

In [ ]:
df['avg_temp'].dtypes
# type(df.avg_temp)

In [ ]:
df.dtypes

#### types other than float or integer this types of operation is not allowed

In [ ]:
df['avg_temp'].mean()

### Converting Object to float type

In [ ]:
df['avg_temp'] = df['avg_temp'].astype(float)

now can count mean easily

In [ ]:
df['avg_temp'].mean()

______________________________________________________________________
# Replacing Values

## Clecking Unique values in a column

In [59]:
# df['avg_temp'].unique()
df['province'].unique()

array(['Seoul', 'Busan', 'Daegu', 'Gwangju', 'Incheon', 'Daejeon',
       'Ulsan', 'Gyeonggi-do', 'Gangwon-do', 'Chungcheongbuk-do',
       'Chungcheongnam-do', 'Jeollabuk-do', 'Jeollanam-do',
       'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do',
       'Chunghceongbuk-do'], dtype=object)

### Counting the Unique values

In [60]:
df['province'].value_counts()

Seoul                1642
Gwangju              1642
Ulsan                1642
Gangwon-do           1642
Gyeongsangbuk-do     1642
Gyeonggi-do          1642
Jeollanam-do         1642
Gyeongsangnam-do     1642
Incheon              1642
Jeju-do              1642
Busan                1642
Daegu                1642
Daejeon              1642
Jeollabuk-do         1642
Chungcheongnam-do    1641
Chungcheongbuk-do    1613
Chunghceongbuk-do      29
Name: province, dtype: int64

As we can see here a province name has been misspelled. So we want to replace the misspelled value with the correct one. we will replace -
**Chunghceongbuk-do**, with  **Chungcheongbuk-do**

### Replacing a Value

In [ ]:
df['province'].replace('Chunghceongbuk-do', 'Chungcheongbuk-do', inplace=True)

In [ ]:
df['province'].value_counts()

# Removing Duplicaed Values

In [ ]:
df.duplicated()

#### Let's insert a duplicate row

In [ ]:
len(df)

In [ ]:
df.tail()

In [ ]:
df.loc[26271] = [70000, 	'Jeju-do', '2020-06-29', 23.2, 19.1, 27.6, 25.1, 12.8, 270.0, 87.4]

In [ ]:
df.tail()

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates()

Drop row if duplicates exist in specific columns

In [ ]:
df.loc[26271] = [700001, 	'Jeju-do-do', '2020-06-29', 23.2, 19.1, 27.6, 25.1, 12.8, 270.0, 87.4]

In [ ]:
df.drop_duplicates(['code	', 'province'])

drop_duplicates() doesn't drop any duplicate row, because it didn't found any duplicate value in specific columns

In [ ]:
df.tail()