<a href="https://colab.research.google.com/github/abidshafee/DataScienceYouTubeTutorials/blob/master/Optimizing_input_params_for_ML_Model_%7C_Categorical_lagends_in_Scatter_plot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Optimizing input params for ML Model | PCA Scatter Plot with approtriate categorical Lagends**
The reason for this approach is not to build a ML model from the scratch, rater than how to prepare a better dataset for the Model. And in addision, we will see how to draw PCA scatter plot with approtrite Categorical Lagends.

In [19]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler, FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import ExtraTreesRegressor
import plotly.express as px # for 3D plot
from matplotlib import pyplot as plt
from matplotlib import style
style.use('ggplot')

**Uploading dataset**\
Here, I will be working here with the Breast Cancer dataset

In [1]:
from google.colab import files
file = files.upload()

Saving BreastCancer_data.csv to BreastCancer_data.csv

In [4]:
df = pd.read_csv('BreastCancer_data.csv')

As we have previous worked with this dataset, therefore we know it has an empty column

In [5]:
df.head(2)

       id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0  842302         M  ...                  0.11890          NaN
1  842517         M  ...                  0.08902          NaN

[2 rows x 33 columns]

Checking null values in the dataframe

In [ ]:
df.isna().sum()

Let's quickly get rid of that 'Unnamed: 32' column

In [7]:
df.dropna(axis=1, inplace=True)

`axis=1` means we have targeted the column that has the null values. check out this [***link>>***](https://https://youtu.be/QStMjyxVkqw) where have shown a complete data cleaning procedure step by step of any given dataset..

In [8]:
df.head(2)

       id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0  842302         M  ...          0.4601                  0.11890
1  842517         M  ...          0.2750                  0.08902

[2 rows x 32 columns]

**Now let seperate the numerical colums for input parameters `X` for building Machine Learning Model.**\
As we can see we have all columns are already numerical therefore, luckily, we don't need go through any extra hassle here. The only categorical column is the 'diagnosis' column that we need to convert into numeric values. Because the values in this column are our targeted outputs **`y`** for each set of input **`X`**.

In [ ]:
df.info()

In [13]:
# input params
X = df.iloc[:, 2:]

In [12]:
X.head(2)

   radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902

[2 rows x 30 columns]

In [14]:
# output
y = df.iloc[:,1]

In [ ]:
y

In [16]:
type(y)

pandas.core.series.Series